.logos-slide, .slide {
    width: 86% ;
  }
  
@media only screen and (min-width: 400px) and (max-width : 2200px)  {
    .logos-slide, .slide{
        width: 1550px !important;
    }
}
.v-card3{
    padding: 10px;
    background-color: transparent !important;
}
.v-card3 .v-card:hover{
    /* background-image: url('/public/BackgroundGlow.png'); */
    box-shadow: 
    0px 0px 40px rgba(0, 210, 211, 0.3),  /* Cyan shadow */
    0px 0px 60px rgba(255, 141, 108, 0.4), /* Orange shadow */
    0px 0px 80px rgba(0, 167, 254, 0.12), /* Blue shadow */
    0px 0px 100px rgba(249, 196, 60, 0.3);
}

.opacity-0{
    opacity: 0 !important;
}