@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Css/Carousel.css';
@import './Css/WorldTour.css';
@import './Css/Orders.css';
@import './Css/Slider.css';
@import './Css/Animations.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
  width: 100%;
}

.converterBtn {
  width: 58px !important;
  height: 58px !important;
}

.w-77 {
  width: 23rem;
}

.SliderBoxShadow {
  position: relative;
  z-index: 99 !important;
  box-shadow: 0px 0px 30px 0px #98A2B35C !important;
}

#root {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Card1Img {
  width: 260px !important;
}

@media (max-width: 1600px) {
  .Card1Img {
    width: 165px !important;
    top: -0px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mainPage {
  padding-left: 100px;
  padding-right: 100px;
}

.mainPage2 {
  padding-left: 125px;
  padding-right: 125px;
}

.navTabs li {
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 600;
}

.btn-ot {
  padding: 10px 24px;
  color: #182252;
  border: 1px solid #182252;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  padding: 8px 24px !important;
}

.text-l {
  font-size: 18px;
}

.btn-p {
  padding: 6px 12px;
  background-color: var(--Gray-600, #394375);
  color: white;
}

.clr-p {
  color: var(--Gray-600, #394375);
}

.text-grad {
  line-height: 72px;
  background: linear-gradient(88.75deg, #00D2D3 39.06%, #3593FF 102.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.fw600 {
  font-weight: 600;
}

.fw400 {
  font-weight: 400;
}

.roboto {
  font-family: "Roboto Serif", serif;
  ;
}

.w-73 {
  width: 20rem;
}

.w-700 {
  width: 700px;
}

.converter-card {
  border-radius: 24px;
  padding: 25px 36px;
  box-shadow: 0px 0px 30px 0px #98A2B35C;
}

.font-10 {
  font-size: 10px;
}

.font-8 {
  font-size: 8px;
}

.small {
  font-size: 14px;
  color: #7680B0;
  margin-top: 10px;
  line-height: 28px;
}

.input-gray {
  border: 1px solid #AFB7DC;
  padding: 10px 24px;
}

.services {
  margin-top: 200px;
}

.blue-list {
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  list-style: none;
  padding-left: 0;
}

.blue-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
}

.blackLi li:before {
  background-color: black !important;
}

.blue-list li::before {
  content: '\2714';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background: linear-gradient(166.28deg, #00D2D3 43.18%, #00B3FF 90.5%);
  background: #3593FF;

  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.business-card {
  background-color: #182252;
  /* padding: 80px 110px; */
  color: white;
}

.grad-line {
  height: 5px;
  background: linear-gradient(89.46deg, #EEC840 2.99%, #00D2D3 25.44%, #0076FF 54.16%, #00D2D3 81.22%, #EEC840 95.89%);
  background-size: 200% 100%;
  /* Double the width to allow smooth animation */
  animation: moveGradient 5s linear infinite;
  /* Animation with 4s duration */
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.text-gray {
  color: #2C3667;
}

.proposition-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(246, 249, 252, 0.3) 50%, #F6F9FC 60%);

}

.business-csr-card {
  box-shadow: 0px 0px 36px 0px #98A2B34D;
  border: 1px solid #B9C5DF;
}


.support-card {
  margin-top: 100px;
  background-image: url('../public/24Hsupport.svg');
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1 {
  background: linear-gradient(166.28deg, #00D2D3 43.18%, #00B3FF 90.5%);
  color: white;
  font-size: 14px;
}

.step2 {
  background: var(--Gray-50, #D5DAEF);
  color: var(--Gray-200, #8C95C2);
  font-size: 14px;
}

.book-mark {
  background: #F4F6F9;
}

.text-rbw {
  background: linear-gradient(89.46deg, #EEC840 2.99%, #00D2D3 25.44%, #0076FF 54.16%, #00D2D3 81.22%, #EEC840 95.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.subscribe-container {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* max-width: 400px; */
}

.subscribe-container input {
  flex: 1;
  padding: 12px;
  font-size: 14px;
  background: #D5DAEF66;
  border: 1px solid #D5DAEF66;
  color: var(--Gray-300, #7680B0);
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.subscribe-container button {
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  background-color: var(--Gray-600, #394375);
  /* border: 1px solid var(--Gray-600, #394375); */
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.subscribe-container button:hover {
  background-color: #218838;
}

.sub-card {
  padding: 140px 120px;
  margin-top: 80px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-image: url('../public/NewGradientAnimation.png');
  background-size: cover;
  /* background-position: center;  */
  background-repeat: no-repeat;
}

.border-line {
  content: '';
  border: 1px solid var(--Gray-50, #D5DAEF);
  margin: 30px 0px;
}

.text-xxs {
  color: var(--Gray-700, #2C3667);
  font-size: 10px;
}

.hit-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(246, 249, 252, 0.3) 50%, #F6F9FC 60%);
}

@media (max-width: 1025px) {
  .class {
    grid-template-columns: 1fr;
  }

  .mainPage {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mainPage2 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 625px) {
  .mainPage {
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-6xl {
    font-size: 40px;
    line-height: 55px;
  }

  .mainPage2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .globe {
    margin-top: 140px;
  }

  .observablehq {
    height: 140px;
  }

  .curr-icons {
    top: -205px;
  }

  .w-sm-full {
    width: 100%;
  }

  .business-card {
    padding: 20px 10px;
  }

  .sub-card {
    padding: 80px 10px;
    height: 500px;
  }

  .support-card {
    background-image: none;
    margin-top: 0px;
    padding: 50px;
  }

  .subscribe-container {
    flex-direction: column;
  }

  .btm-sm {
    border-radius: 8px !important;
    margin-top: 5px;
    width: 100%;
  }

  .sm-inp {
    border-radius: 8px !important;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .sm-col {
    flex-direction: column;
  }

  .w-700 {
    width: 90%;
  }

}

@media (max-width: 425px) {
  .globe {
    margin-top: 110px;
  }

  .observablehq {
    height: 110px;
  }

  .curr-icons {
    top: -235px;
  }
}


/* styles.css */

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

.currency-symbol {
  width: 70px;
  height: 70px;
  background-color: var(--Gray-100, #AFB7DC);
  opacity: 0.7;
  color: white;
  box-shadow: 0px -2px 8px 0px rgba(20, 62, 104, 0.35) inset;
  filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.30)) drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25));
  /* background-color: #f3f4f6; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.currency-symbol.top-left {
  top: -20px;
  left: -20px;
  animation: bounce 3s infinite;
}

.currency-symbol.top-right {
  top: -20px;
  right: -20px;
  animation: bounce-slow 3s infinite;
}

.currency-symbol.bottom-right {
  bottom: 40px;
  right: -30px;
  animation: bounce 3s infinite;
}

.arrow-icon {
  top: 51%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  background-color: rgba(44, 54, 103, 1);
  color: white;
  border-radius: 29%;
  padding: 0.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customBoxShadow {
  box-shadow:
    0px 4px 10px rgba(0, 0, 0, 0.1),
    0px 10px 15px rgba(0, 0, 0, 0.05),
    0px 0px 20px rgba(0, 0, 0, 0.03);
}

/* styles.css */

.rate-container {
  overflow: hidden;
  height: 1.5em;
  position: relative;
}

.rate-value {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease;
  /* Smooth transition for sliding */
}

.animate-slide {
  transform: translateY(-100%);
  /* Slide up */
}

.shine {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  /* Wide enough to cover the diagonal */
  height: 200%;
  /* Tall enough to cover the diagonal */
  background: rgba(255, 255, 255, 0.3);
  /* Semi-transparent white */
  transform: rotate(45deg);
  /* Rotate to create diagonal effect */
  pointer-events: none;
  /* Make it unclickable */
  animation: shine-animation 2s infinite;
  /* Infinite animation */
}

/* Animation for the shine effect */
@keyframes shine-animation {
  0% {
    transform: translate(-100%, -100%) rotate(45deg);
  }

  100% {
    transform: translate(100%, 100%) rotate(45deg);
  }
}

.leftCard {
  position: relative;
}

.PhysicalCard {
  top: 10%;
  right: -50%;
  position: absolute;
}

.rightCard {
  position: relative;
}

/* shineEffect */
.foil-image {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 100%;
  top: 25px;
  left: -10px;
  width: 100%;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.foil-image::after {
  content: ' ';
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0px;
  left: 0px;
  z-index: 2;
  -webkit-animation: moveafter 4s infinite linear;
  -moz-animation: moveafter 4s infinite linear;
  animation: moveafter 4s infinite linear;

  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}

.img {
  width: 220px;
  height: 290px;
  background: url('/public/AtmCard.png') center center no-repeat;
}

.imgSignUp {
  width: 400px;
  height: 330px;
  background: url('/public/Sign up online.png') center center no-repeat;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotateX(5deg) rotateY(-5deg) rotateZ(-1deg);
  }

  25% {
    -webkit-transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg);
  }

  50% {
    -webkit-transform: rotateX(-5deg) rotateY(5deg) rotateZ(1deg);
  }

  75% {
    -webkit-transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(5deg) rotateY(-5deg) rotateZ(-1deg);
  }
}

@-moz-keyframes move {
  0% {
    -moz-transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }

  25% {
    -moz-transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  }

  50% {
    -moz-transform: rotateX(-15deg) rotateY(15deg) rotateZ(3deg);
  }

  75% {
    -moz-transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  }

  100% {
    -moz-transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }
}

@keyframes move {
  0% {
    transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }

  25% {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  }

  50% {
    transform: rotateX(-15deg) rotateY(15deg) rotateZ(3deg);
  }

  75% {
    transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg);
  }
}

@-webkit-keyframes moveafter {
  0% {
    top: 100%;
    left: 100%;
  }

  50% {
    top: -100%;
    left: -100%;
  }

  100% {
    top: -200%;
    left: -200%;
  }
}

@-moz-keyframes moveafter {
  0% {
    top: 100%;
    left: 100%;
  }

  50% {
    top: -100%;
    left: -100%;
  }

  100% {
    top: -100%;
    left: -100%;
  }
}

@keyframes moveafter {
  0% {
    top: -100%;
    left: -100%;
  }

  50% {
    top: -100%;
    left: -100%;
  }

  100% {
    top: 100%;
    left: 100%;
  }
}

.scaling-path {
  transform-origin: center !important;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
    fill: #B0B0B0;
    /* Gray color at start */
  }

  50% {
    transform: scale(1.02);
    fill: #F0F0F0;
    /* Original color at peak */
  }

  100% {
    transform: scale(1);
    fill: #B0B0B0;
    /* Return to gray */
  }
}

.scale-active {
  animation: scaleUpDown 5s forwards;
  transform-origin: center !important;
}

.bgWhiteImg {
  background-image: url('/public/WhiteBg.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  background-position: center;
  width: 400px;
}

.serviceAmount {
  color: rgba(44, 54, 103, 1);
  font-size: 30px;
  font-weight: 800;
}

.bar-chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  background-color: #D5DAEF;
  margin: 5px;
  border-radius: 10px;
}

.bar-1 {
  height: 50px !important;
}

.bar-2 {
  height: 80px !important;
}

.bar-3 {
  height: 150px !important;
}

.bar-4 {
  height: 100px !important;
}

.bar-5 {
  height: 120px !important;
}

.bar {
  padding: 5px;
  width: 40px;

  background: linear-gradient(166.28deg, #00D2D3 43.18%, #00B3FF 90.5%);

  border-radius: 10px;
  transition: height 0.5s ease;
  /* Smooth height transition */
}

.label {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.ChartBarHeight {
  top: 15%;
  height: max-content !important;
}


.card-service-animation{
  position: absolute;
  top: 101px;
  right: -174px;
}



@media (max-width: 1000px) {
  .bar {
    width: 100%;
  }

}

@media (max-width: 640px) {
  .converter-card {
    padding: 2vh;
  }

  .services {
    margin-top: 50px;
  }


  ul li {
    font-size: 14px;
  }




  .btn-p {
    padding: 2px 12px;
    background-color: var(--Gray-600, #394375);
    color: white;
    font-size: 14px;
  }

  .pt-48 {
    padding-top: 3rem;
  }



  .text-grad {
    line-height: 55px;
  }



  .blue-list li::before {
    background: linear-gradient(166.28deg, #00D2D3 43.18%, #00B3FF 90.5%)
  }

  .blackLi li::before {
    background-color: black ;
    color: white;
  }


  .foil-image {
    top: 10px;
  }

  .bar-container {
    width: 30px;
  }
  .card-service-animation{
    position: absolute;
    top: 130px;
    right: -102px;
  }

  .w-77 {
    width: 21rem;
  }

}